[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-deepseek = "*"
dotenv = "*"
langchain-ollama = "*"
duckduckgo-search = "*"
langchain-community = "*"
phidata = "*"
groq = "*"
google-generativeai = "*"
pypdf = "*"
pinecone = "*"
langchain-pinecone = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
